/*Div's por padrão tem o display:block;
  span:inline;
  a:inline;
*/
#divRed {
    visibility: hidden;
    background-color: lightcoral;
}


#divBlue{
    display:none;
    background-color:darkblue;
    color:darkgray;
}


ul.list-group > li{
	display:inline;
}