.container {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}


/*
  o exemplo funciona bem pois os sections ficam com tamanho maior que o nav,
  caso contrário vazaria...

*/

nav {
  position: absolute;
  left: 0px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: pink;

}
section {
  /* position is static by default */
  margin-left: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: orange;
}
body {
  margin-bottom: 120px;
}